<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400..800&family=Yellowtail&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>

    <header>
        <div class="containerHeader">

            <div class="topContainerHeader">
                <div class="search">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <input type="text" placeholder="Search">
                    <a href="" class="hamburger"><i class="fa-solid fa-bars"></i></a>
                </div>
                <a href="" class="logoHeader">SHOPPERS</a>
                <div class="iconsHeader">
                    <div class="iconsHeaderContainer">
                        <a href=""><i class="fa-solid fa-user"></i></a>
                        <a href=""><i class="fa-regular fa-heart"></i></a>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>

                </div>

            </div>

            <div class="bottomContainer">
                <nav>
                    <ul>
                        <li><a href="">HOME <i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">ABOUT <i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">SHOP</a></li>
                        <li><a href="">CATALOGUE</a></li>
                        <li><a href="">NEW ARRIVALS</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="containerFooter">

            <div class="topFooter">

                <div class="leftTopFooter">

                    <h3>Navigations</h3>

                    <div class="leftTopFooterInfos">

                        <ul>
                            <li><a href="">Sell online</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Shopping cart</a></li>
                            <li><a href="">Store builder</a></li>
                        </ul>

                        <ul>
                            <li><a href="">Mobile commerce</a></li>
                            <li><a href="">Dropshipping</a></li>
                            <li><a href="">Website development</a></li>
                        </ul>

                        <ul>
                            <li><a href="">Point of sale</a></li>
                            <li><a href="">Hardware</a></li>
                            <li><a href="">Software</a></li>
                        </ul>

                    </div>

                </div>

                <div class="rightTopFooter">

                    <div class="rightTopFooterLeft">
                        <h3 class="title">Promo</h3>
                        <img src="./assets/images/imgi_9_hero_1.jpg" alt="shoe">
                        <h3>Finding Your Perfect Shoes</h3>
                        <p>Promo from nuary 15 — 25, 2019</p>
                    </div>

                    <div class="rightTopFooterRight">

                        <div class="titleContact">

                            <h3>Contact Info</h3>
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"></i> 203 Fake St. Mountain View, San
                                        Francisco, California, USA
                                    </a>
                                </li>
                                <li><a href=""><i class="fa-solid fa-phone"></i> +2 392 3929 210</a></li>
                                <li><a href=""><i class="fa-solid fa-envelope"></i> emailaddress@domain.com</a></li>
                            </ul>

                        </div>

                        <div class="buttonsFooter">
                            <label for="">Subscribe</label>
                            <button>SEND</button>
                            <input type="text" placeholder="Email">
                        </div>


                    </div>
                </div>
            </div>

            <div class="bottomFooter">
                <p>Copyright ©2025 All rights reserved | This template is made with by Colorlib</p>
            </div>
        </div>


    </footer>
</body>

</html>
