@import "./pages/header";
@import "./pages/hero";
@import "./pages/infoSec";
@import "./pages/collections";
@import "./pages/featuredProducts";
@import "./pages/bigSale";
@import "./pages/footer";
@import "./pages/responsibility";