#collections {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerCollections {
        height: 100%;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        .cardCollection {
            height: 70%;
            width: 95%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 20px 20px;
          

            .textsCC {
                span {
                    font-weight: 900;
                    font-size: 12px;
                    line-height: 20px;
                    color: #fff;
                }

                h3 {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 48px;
                    color: #fff;
                }
            }
        }

        .CC1 {
            
            background-image: url(/assets/images/imgi_1_women.jpg);
        }

        .CC2 {
            background-image: url(/assets/images/imgi_2_children.jpg);
        }

        .CC3 {
            background-image: url(/assets/images/imgi_3_men.jpg);
        }
    }
}