#featuredProducts {
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;

    .containerFP {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titleFP {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 15%;

            h2 {
                font-weight: 300;
                font-size: 32px;
                line-height: 38px;
                color: #25262a;
            }
        }

        .cardsContainerFP {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;

            .cardFP {
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
                color: #fff;
                width: 95%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 100%;
                    height: 60%;
                }

                .textsCardFP {
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #7971ea;
                        text-decoration: none;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 27px;
                        color: #8c92a0;
                    }

                    .price {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 27px;
                        color: #7971ea;
                    }
                }
            }
        }
    }
}