* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

header {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;

    .containerHeader {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        .topContainerHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 65%;
            border-bottom: 1px solid lightgrey;

            .search {
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                gap: 10px;

                a {
                    color: #495057;
                    text-decoration: none;
                }

                input {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #495057;
                    border: none;
                    background-color: transparent;
                }

                .hamburger {
                    display: none;
                }
            }

            .logoHeader {
                font-weight: 300;
                font-size: 20px;
                line-height: 34px;
                color: #3d3f45;
                letter-spacing: 4;
                border: 2px solid black;
                text-decoration: none;
                padding: 2px 10px;
            }

            .iconsHeader {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &Container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 40%;

                    a {
                        color: #868995;
                    }
                }


            }


        }

        .bottomContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35%;
            width: 100%;

            nav {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    width: 50%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        a {
                            text-decoration: none;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 26px;
                            color: #495057;
                            transition: 150ms;

                            i {
                                font-size: 11px;
                            }
                        }

                        a:hover {
                            color: #7870e8;
                        }
                    }
                }
            }
        }
    }
}