#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #A6F3ED;
    background-image: url(/assets/images/imgi_9_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .containerHero {
        width: 45%;
        height: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .textsHero {
            width: 65%;
            height: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            h1 {
                font-weight: 900;
                font-size: 50px;
                line-height: 60px;
                color: #000000;
            }

            p {
                font-weight: 300;
                font-size: 20px;
                line-height: 35px;
                color: #333333;
            }

            button {
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #fff;
                border: 1px solid #7971EA;
                background-color: #7971EA;
                padding: 10px 30px;
                border-radius: 2px;
            }

            button:hover {
                cursor: pointer;
                color: 7971EA;
                background-color: transparent;
                border: 1px solid 7971EA;
            }
        }
    }
}