#infoSec {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;

    .containerInfo {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style: none;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;

            li {
                width: 95%;
                display: flex;
                gap: 20px;

                .logoInfo {
                    span {
                        font-size: 40px;
                        color: #7971EA;
                    }
                }

                .textsInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h2 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 22px;
                        color: #25262a;
                        text-transform: uppercase;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 27px;
                        color: #8c92a0;
                    }
                }
            }
        }
    }
}